.landing-page-item {
   z-index: 400;
   width: 300px;
   padding: 10px;
   height: 320px;
   border-radius: 20px;
   background: rgba(19, 18, 18, 0.1);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(35px);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   flex-direction: column;
   border: 3px solid #1f1e1e;
   transition: 0.2s ease-in-out;
   gap: 20px;

   &:hover {
      transform: scale(1.05) translateY(-20px);
      backdrop-filter: blur(30px);
      background: rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
   }

   div:nth-child(2) {
      font-size: 30px;
      color: white;
      width: 100%;

   }

   div:nth-child(3) {
      font-size: 15px;
      color: white;
      width: 100%;
      height: auto;
   }

   @media(max-width:1000px) {
      div:nth-child(1) {
         width: 200px;
         height: 120px;
         img{
            width: 100%;
            height: 100%;
         }
      }

      div:nth-child(2) {
         font-size: 25px;
      }
      margin-right: 30px;
      width: 250px;
      height: 230px;
   }
   @media (max-width:600px){
      width: 300px;
      height: 280px;
      div:nth-child(1) {
         width: 200px;
         height: 200px;
         img{
            width: 100%;
            height: 100%;
         }
      }
      @media (max-width:400px){
         width: 250px;
         gap: 10px;
         height: 280px;
         div:nth-child(1) {
            width: 200px;
            height: 270px;
            img{
               width: 100%;
               height: 100%;
            }
         }
      }
   }
}
svg{
   display: none;
}
*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 $openSans: 'Open Sans', Helvetica, Arial, sans-serif;
 body {
   background: #333;
   font-family: $openSans;
 }
 
 .buttons { 
   text-align: center;
   border-radius:30px;
 }
 
 $cyan: #0505A9;
 $dark: #FFFFFF;
 $borderW: 2px;
 
 .blob-btn {
   $numOfBlobs: 4;
   z-index: 1;
   border:3px solid white;
   position: relative;
   padding: 20px 46px;
   text-align: center;
   text-transform: uppercase;
   color: white;
   font-size: 16px;
   font-weight: bold;
   background-color: transparent;
   transition: color 0.5s;
   cursor: pointer;
   border-radius:30px;
   
   &:before {
     content: "";
     z-index: 1;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     border-radius:30px;
   }
   
   &:after {
     content: "";
     z-index: -2;
     position: absolute;
     left: $borderW*1.5;
     top: $borderW*1.5;
     width: 100%;
     height: 100%;
 
     transition: all 0.3s 0.2s;
     border-radius:30px;
   }
   &:active{
     transform:scale(0.8);
       transition:0.1s  ease-in-out;
   }
   &:hover {
     color: black;
     border-radius:30px;
     border:3px solid black;
     
     &:after {
       transition: all 0.3s;
       left: 0;
       top: 0;
       border-radius:30px;
     }
   }
   
   &__inner {
     z-index: -1;
     overflow: hidden;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     outlet:none;
     
     border-radius:30px;
     background:black;
   }
   
   // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
   &__blobs {
     position: relative;
     display: block;
     height: 100%;
     filter: url('#goo');
   }
   
   &__blob {
     position: absolute;
     top: $borderW;
     width: 100% / $numOfBlobs;
     height: 100%;
     background: white;
     border-radius: 100%;
     transform: translate3d(0,150%,0) scale(1.7);
     transition: transform 0.45s;
     
     @supports(filter: url('#goo')) {
       transform: translate3d(0,150%,0) scale(1.4);
     }
     
     @for $i from 1 through $numOfBlobs {
       &:nth-child(#{$i}) {
         left: ($i - 1) * (120% / $numOfBlobs);
         transition-delay: ($i - 1) * 0.08s;
       }
     }
     
     .blob-btn:hover & {
       transform: translateZ(0) scale(1.7);
       
       @supports(filter: url('#goo')) {
         transform: translateZ(0) scale(1.4);
       }
     }
   }
   
 }