@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    user-select: none;
    white-space: nowrap;
    background-color: #111;
    padding-top: 50px;
}

.basket-main-container {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    color: white;
    margin: 0;
    height: 100%;
    padding: 0;

    .basket-right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: fixed;
        right: 20px;
        top: 0px;
        height: 100%;
        &::-webkit-scrollbar {
            color: red;
        }
        overflow-y: scroll;
        border: 2px solid white;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(50px);
        transition: transform 0.3s ease, backdrop-filter 0.3s ease;
        .basket-scroll{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            overflow-y: scroll;
            scrollbar-width: none;
        }
        @media (max-width: 950px) {
            right: 50px;
        }

        .product-item-price {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;
            width: 300px;
            z-index: 10;
        }
    }

    .basket-left-side {
        display: flex;
        flex-direction: column;
        gap: 100px;
        width: 50%;
        margin-right: 300px;


        .product-item-basket {
            height: auto;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(50px);
            transition: 0.2s ease-in-out;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 40px;

            div:nth-child(1) {
                display: flex;
                flex-direction: column;
                gap: 30px;

                h3 {
                    font-size: 30px;
                }
            }

            div:nth-child(2) {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                gap: 10px;

                img {
                    border-radius: 20%;
                    padding-top: 10px;
                }
            }


            &:hover {
                transform: scale(1.05);
                background: rgba(255, 255, 255, 0.15);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            }
        }
    }

    @media (max-width: 950px) {
        gap: 100px;
    }

    @media (max-width: 800px) {
        margin-top: 100px;
        gap: 50px;
        display: grid;
        grid-template-columns: 1fr;

        .basket-left-side {
            width: 100%;
            overflow: hidden;
        }

        .basket-right-side {
            overflow: hidden;
            position: sticky;
        }
    }
}

@media (max-width: 480px) {
    .basket-main-container {
        margin-top: 10px;
        .basket-left-side {
         .product-item-basket{
            display: flex;
            flex-direction: column;
            gap: 30px;
            div:nth-child(1){
                h3{
                    font-size: 20px;
                }
            }
         }
        }
    }
}