.navigation-wrapper{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    height: 70px;
    background-color: rgb(2, 2, 100);
    .navigation-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-weight: 100;
        font-size: 20px;
        font-family: sans-serif;
        gap: 50px;
        div{
            display:  flex;
            gap: 5px;
        }
    }
}