.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #333;
  transform: translateX(-120%); 
  transition:cubic-bezier(.16,1.15,.87,.95)1s;
  z-index: 1500;

  &.open {
    transform: translateX(0); 
  }

  .navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navigation-logo {
    margin-bottom: 20px;

    img {
      width: 120px;
    }
  }

  .navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    .logout{
      font-size: 15px;
      text-wrap: wrap;
    }
    .navigation-item {
      margin: 15px 0;
     

      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.4em;
        transition: color 0.3s ease;

        &:hover {
          color: #ff6347; 
        }
      }
    }
  }
}

.burger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1600;

  div {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease;
  }

  &.open {
    div:nth-child(1) {
      transform: rotate(45deg) translate(7px, 5px);
    }
    div:nth-child(2) {
      opacity: 0;
    }
    div:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
